#wrap {
 padding: 0 30px;
}

#wrap::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #ffe9e9 url(../images/polygon_world_bg.png) 0px 0px/500px auto;
 opacity: 0.5;
 z-index: -1;
}

/* ★★★★★★★★★★ */
/* start start start*/
/* ★★★★★★★★★★ */
.start {
 user-select: none;

 .selectText {
  position: absolute;
  top: 190px;
  left: 121px;
  width: 1100px;
  padding: 30px 0px;
  font-size: 60px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #ff7694;
  box-shadow: 5px 5px 1px #00000042;
 }

 .polygonSelectButtons {
  width: 100%;

  [class*="btn_"] {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 350px;
   width: 300px;
   height: 120px;
   font-size: 60px;
   text-align: center;
   border-radius: 10px;
   background-color: #fff;
   border: 8px solid #FF7694;
   box-shadow: 5px 5px 1px #00000042;
   cursor: pointer;



   &.on {
    pointer-events: none;
    transform-origin: left;
   }

   &[data-select="square"] {
    left: 125px;
   }

   &[data-select="triangle"] {
    left: 513px;
   }

   &[data-select="circle"] {
    left: 899px;
   }


  }

  .reset {
   position: absolute;
   top: 52px;
   /* left: 31px; */
   left: -110px;
   padding: 10px 18px;
   color: #fff;
   font-size: 18px;
   border-radius: 30px;
   background-color: #ff7694;
   box-shadow: 3px 3px 1px #00000042;
   cursor: pointer;
  }

 }
}

.test {
 position: absolute;
 top: -272px;
 left: 50%;
 width: 300px;
 height: 120px;
 border: 8px solid #FF7694;
 scale: 0.7;
 transform: translate(-50%, 0);
 transform-origin: left;
}

/* ★★★★★★ */
/* controllerBox*/
/* ★★★★★★ */
.controllerBox {
 display: none;

 &.on {
  display: block;
 }

 [class*="controll_"] {
  width: fit-content;
  cursor: pointer;
  user-select: none;
 }

 .controll_toggle {
  position: relative;
  display: flex;

  & input {
   display: none;
  }
 }

 .check_toggle {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  transition: 0.4s;
 }


 .check_toggle:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
 }

 input:checked+.check_toggle {
  background-color: #4caf50;
 }

 input:checked+.check_toggle:before {
  transform: translateX(25px);
 }
}