.displayN {
  display: none !important;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  box-sizing: border-box;
}


#canvasWrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}