.displayN {
  display: none !important;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  box-sizing: border-box;
}

/* #wrap {
  padding: 20px;
  user-select: none;
  box-sizing: border-box;
  overflow: unset;
} */

body {}

#canvasWrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#progress {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4px;
  background-color: #eee;
  z-index: 10;
}

#progress .bar {
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  transition: width 0.2s ease-out;
}