
.displayN{display: none !important;}
button {cursor: pointer;}

#wrap {
  position: relative;
  padding: 20px;
  user-select: none;
  z-index: 1;
}

#start_wrap {
  display: flex;
  gap: 50px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  translate: -50%;
  width: fit-content;
}

#start_wrap > button {
  position: relative;
  width: 300px;
  font-size: 30px;
  padding: 20px 20px 22px 20px;
  border-radius: 50px;
  background-color: #fff;
}

#start_wrap > button:hover {
  background-color: red;
}




#object_wrap {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#object_wrap.shpear,
#object_wrap.square{ display: flex;}


#object_wrap > button {
  width: 300px;
  font-size: 30px;
  padding: 20px 20px 22px 20px;
  border-radius: 50px;
  background-color: #fff;
}

#object_wrap > button:hover {
  background-color: red;
}













canvas {
  position: absolute;
  top: 0;
  left: 0;
}